@page
@model Hospital.App.Frontend.Pages.ListadoHistoriasEModel
@{
     ViewData["Title"] = "Listado de Historias Clinicas";
}
<h1>Listado de Historias Clinicas</h1>
<h2>Paciente: @Model.paciente.Nombre  @Model.paciente.Apellidos</h2>
<hr>

<hr>
<form method="post">

     <table class="table">
          <thead>
               <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha Diagnóstico</th>
                    <th scope="col">Diagnóstico</th>
                    <th scope="col">Sugerencias de cuidado</th>
               </tr>
          </thead>
          <tbody>
               
                    @foreach(var diagnostico in Model.diagnosticos)
                    {
                         <tr>
                              <td scope="row">@diagnostico.Id</td>
                              <td>@diagnostico.FechaDiagnostico</td>
                              <td>@diagnostico.DiagnosticoMedico</td>
                              <td><a asp-page="./ListaSugerenciasCuidadoE" asp-route-Id="@diagnostico.Id" >Ver Sugerencias</a></td>
                              
                         </tr>
                    }

               
          </tbody>

     </table>

</form>
