@page
@model Hospital.App.Frontend.Pages.ListadoPacientesEModel
@{
    //Codigo C#
    ViewData["Title"] = "Listado de PacientesE";
}

<h1>Listado de PacientesE de la Aplicacion</h1>
<h2>Enfermera @Model.enfermera.Nombre @Model.enfermera.Apellidos</h2>
<hr>

<br>
<form method="POST">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Numero Telefono</th>
                <th scope="col">Género</th>
                <th scope="col">Direccion </th>
                <th scope="col">Latitud </th>
                <th scope="col">EnfermeraId </th>
                
                <th scope="col" colspan="7">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in Model.PacientesE)
            {
                <tr>                    
                    <td scope="row">@paciente.Id</td>
                    <td>@paciente.Nombre</td>
                    <td>@paciente.Apellidos</td>
                    <td>@paciente.NumeroTelefono</td>
                    <td>@paciente.Genero</td>
                    <td>@paciente.Direccion</td>
                    <td>@paciente.Latitud</td>
                    <td>@paciente.EnfermeraId</td>
                    

                    
                    @*<td><a asp-page="../Pacientes/VerPaciente" asp-route-id="@paciente.Id">Detalle</a></td>
                    <td><a  class="btn btn-primary" asp-page="/Pacientes/SignoSVitales/ListadoSignosVItales" asp-route-id="@paciente.Id" >Signos Vitales</a></td> *@

                    @* <td><a asp-page="../Pacientes/EditarPaciente" asp-route-id="@paciente.Id">Editar</a></td> *@
                    
                    @* <td><a asp-page="../Pacientes/HistoriasClinicas/EditarHistoriaClinica" asp-route-id="@paciente.Id">Editar Historia</a></td> *@
                    <td><a asp-page="./ListadoHistoriasE" asp-route-id="@paciente.Id">Listado Historias</a></td>
                    <td><a asp-page="../Pacientes/SignosVitales/ListadoSignosVitales" asp-route-id="@paciente.Id">Listado Signos Vitales</a></td>

                    @* <td><a asp-page="../Pacientes/SugerenciasCuidado/SugerenciasCuidado" asp-route-id="@paciente.Id">Listado Sugerecias Cuidado</a></td> *@

                </tr>
            }
        </tbody>
    </table>
</form>